.issue {
  .wrapper {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;

    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);

    cursor: pointer;

    &:hover {
      background-color: #f4f5f7;
    }

    .issue-options {
      white-space: nowrap;
    }
    &.dragging {
      transform: rotate(2deg);
    }
  }
}

.close-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
