@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: rgb(23, 43, 77);
  font-size: 14px;
  margin: 0;
  height: 100vh;
  background-color: #f4f5f7;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

button.action {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
